
.wrapper{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid black;
    padding: 10px;
    margin: 55px 75px 100px 75px;
}
h1 {
    color: black;
    font-weight: normal;
    font-size: 75px;
    margin:auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 270px;
    margin-right: 270px;
    padding : 0;
}
li {
    display: inline-block;
    font-style: italic;
    font-size: 20px;
    padding:0;
}
a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: black;
}
.wrapper .imageContainer{
    width: 1100px;
    position: relative;
    /* display: grid;
    width:auto;
    height: 100%;
    overflow: hidden;
    position:relative; */
}
.wrapper img {
    display: inline-block;
    margin: 2px auto;
    object-fit: cover;
}
.image{
    width: 1200px;
    /* margin-left: -1000px; */;
    transform: translateX(-10%);
    height : 980px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color : grey; */
    font-style: italic;
}
.social {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 415px;
    margin-right: 415px;
    padding : 0;
}

